html {
    scroll-behavior: smooth;
}

.container._centered {
    width: 80%;
    min-width: 300px;
    margin: auto;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    margin: 25px 0;
}

header .content {
    justify-content: space-between;
}

.right {
    text-align: right;
}

h1 {
    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

header img{
    height: 150px;
}

#about .content {
    flex-direction: column;
}

#about > .content > iframe{
    width: 560px;
    height: 315px;
    align-self: center;

}

#textAbout{
    margin-bottom: 10px;
}



#skills .content {
    justify-content: space-around;
}

#hard-skills li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hard-skills li > .level-holder{
    margin-left: 10px;
    width: 120px;
    height: 10px;
    border-radius: 5px;
    background-color: rgb(219 215 215);
    border: 1px solid #5a5454;
}

.level-holder > .level{
    height: 10px;
    border-radius: 5px;
    background-color: rgb(31, 250, 49);
}

.level._10 {
    width: 10%;
}

.level._30 {
    width: 30%;
}

.level._70 {
    width: 70%;
}

.level._80 {
    width: 80%;
}

#experience ul {
    width: 100%;
}

#experience li {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid rgba(128, 128, 128, 0.349);
    padding-bottom: 5px;
}

#experience li:last-child {
    border-bottom: none;
}

#experience li > .period{
    min-width: 12ch;
}

#experience li > .job-item{
    min-width: 20ch;
}

#experience li > .job-item > *{
    display: block;
}

#experience li > .description{
    margin-left: 15px;
}


footer {
    background: #e3e3e3;
    display: flex;
    padding: 3px 10px;
}

footer img {
    height: 14px;
}

footer a {
    margin-left: auto;
}


  
  